
.top__form_overlay{
margin: 0;
}

.top__form_overlay::after{
   
    content: '';
    position: absolute;
    top:-10px;
    left: -28px;
    right: -28px;
    bottom: -80px;
    opacity: 0.8;
   background-color:#fff;
   z-index: 15;

}