.answer__text{
font-size: 20px;
font-weight: 500;
line-height: 30px;
margin: 61px 0 0 0;
}

@media screen and (min-width:768px){
    .answer__text{
        font-size: 40px;
        font-weight: 500;
        line-height: 60px;
        }
}

@media screen and (min-width:1248px){
    .answer__text{
    max-width: 700px;
        }
}