.header__top_number{
display: none;
}



@media screen and (min-width: 768px){
    .header__top_number{
        display: block;
        font-size: 18px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        padding: 0 0 0 10px;
    }

}