.slider__car_hyundai{
    width: 400px;
    top: 0px;
    left: 20px;
}

@media screen and (min-width: 768px){
  .slider__car_hyundai{
    width: 380px;
  }
}

@media screen and (min-width: 1248px){
    .slider__car_hyundai{
      width: 705px;
      top: 22px;
      left: 20px;
    }
  }