.slider__car_rio{
    width: 410px;
    top: -5px;
    left: 4px;
}

@media screen and (min-width: 768px){
  .slider__car_rio{
    width: 400px;
  }
}

@media screen and (min-width: 1248px){
    .slider__car_rio{
      width: 752px;
      top: 0px;
    }
  }