.menu__car{
    width: 265px;
    position: absolute;
    top: 20px;
    right: 0px;
    left: auto;
   
}

@media screen and (min-width: 768px){
    .menu__car{
        width: 380px;
        top: 50px;
        right: 160px;
      /*  left: -83px;*/
    }
}

@media screen and (min-width: 1248px){
    .menu__car{
        width: 500px;
        top: 15px;
        left:auto;
        right: 250px;
    }
}

@media screen and (min-width: 1920px){
    .menu__car{
        width: 562px;
        top: 21px;
        right: 240px;
    }
}