.lien__filter_marquee{
 

    top: 0;
   left:5px;
   /*overflow: hidden;*/
  /* animation-name: price;
   animation-duration: 5s;
   animation-timing-function: linear;
   animation-iteration-count: 1;*/
   

   
}


