.header-form__checkbox-fake{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0;
    position: relative;
     
}

.header-form__checkbox-fake::before{
    content:"";
    width: 8px;
    height: 6px;
    top: 7px;
    left: 6px;
    position: absolute;
    background-image:url(../../../image/check.svg) ;
    opacity: 0;
    transition: .2s;
}

.header-form__checkbox:checked+.header-form__checkbox-fake::before{
    opacity: 1;
}

