.button-order{
    width: 320px;
    font-family: 'Montserrat','Arial', sans-serif;
    background-color: #2CC9B8;
    border: 3px solid #2CC9B8;
    color: #FFF;
    padding: 19px 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    position: relative;
    cursor: pointer;
}

.button-order::after{
    content: url(../../image/Sabmit.svg);
    position: absolute;
    top: 22px;
    right: 28px;
    width: 23px;
    height: 33px;
    }

.button-order:hover{
    background-color: transparent;
    border: 3px solid #2CC9B8;
    color:#2CC9B8;
    transition: .5s;
}