.sell__li{
    display: flex;
    flex-direction: row;
    align-items:flex-start ;
}

@media screen and (min-width: 768px){
    .sell__li{
     width: 320px;
        margin: 0 auto;
        
    }
}

@media screen and (min-width: 768px){
    .sell__li{
        width: 240px;
        flex-direction: column;
        align-items:flex-start;
    }
}