.sell__li{
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items:flex-start ;
    margin: 0 auto;
}

/*@media screen and (min-width: 768px){
    .sell__li{
    
       
        
    }
}*/

@media screen and (min-width: 768px){
    .sell__li{
        width: 48%;
        flex-direction: column;
        align-items:flex-start;
    }
}

/*@media screen and (min-width: 1248px){
    .sell__li{

        flex-direction: row;
      
    }
}*/