.menu__text_auto{
    margin: 0 0 0 27px;
}

@media screen and (min-width: 768px){
    .menu__text_auto{
        margin: 0 0 0 230px;
    }
}


@media screen and (min-width: 1248px){
    .menu__text_auto{
        margin: 0 0 0 380px;
    }
}


@media screen and (min-width: 1920px){
    .menu__text_auto{
        margin: 0 0 0 655px;
    }
}