.header-form{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content:center;
 
}




@media screen and (min-width: 1248px){
    .header-form{
        padding: 0 0 0 77px;
        /*margin: 100px 0 0 0;*/
    }

}