.menu__link{
text-decoration: underline;
color: #fff;
margin: 0 0 0 27px;
display: flex;
flex-wrap: wrap;
font-size: 25px;
font-weight: 500;
line-height: 30px;
color: #fff;
width: 140px;

padding: 157px 0 70px 0;



}

@media screen and (min-width: 768px){
    .menu__link{
        margin: 0 0 0 230px;

        padding: 90px 0 70px 0;
    }
}


@media screen and (min-width: 1248px){
    .menu__link{
        margin: 0 0 0 380px;

        font-size: 30px;
        line-height: 40px;
    }
}


@media screen and (min-width: 1920px){
    .menu__link{
        margin: 0 0 0 655px;

        padding: 106px 0 100px 0;
    }

}