.ad__text_accent{
    color: #8ED74F;
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;

}




@media screen and (min-width: 768px){
    .ad__text_accent{
        
        font-size: 40px;
     
    }
}