.top__form{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    position: relative;
}


@media screen and (min-width: 1248px){
    .top__form{
        padding: 0 0 0 77px;
    }
}