.contact__icon_green{
   /* display: none;*/
   margin: 8px 0 0 0;
   width: 23px;
   height: 23px;
    background-image: url(../../../../image/tel_green.svg);
    background-repeat: no-repeat;
}

/*.contact__icon_green:hover{
    display: block;
}*/