.lien__gallary{
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*flex-direction: column;*/
    padding: 0 0 86px 0 ;
    margin: 0 auto;
}


@media screen and (min-width: 768px){
    .lien__gallary{
        max-width: 680px;
        justify-content: space-between;
      
    }
}

@media screen and (min-width: 1248px){
    .lien__gallary{
        max-width: 1100px;
        padding: 0 0 300px 0 ;

    }
}
@media screen and (min-width: 1920px){
    .lien__gallary{
        max-width: 1248px;

    }
}

