.lien__gallary{
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    /*flex-wrap: wrap;
    justify-content: center;*/
    flex-direction: column;
    align-items: center;
    padding: 0 0 86px 0 ;
    margin: 0 auto;
}


@media screen and (min-width: 768px){
    .lien__gallary{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-between;
      
    }
}

@media screen and (min-width: 1248px){
    .lien__gallary{
        max-width: 1248px;
        padding: 0 0 300px 0 ;

    }
}


