.contact{
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.5s;
    /*padding: 23px 28px 0 0;*/
}

.contact:hover svg path {
fill: #8ED74F;
 }

 .contact svg path {
    transition: 0.5s;
     }
    

.contact:hover .contact__number {
    color: #8ED74F;
     }

