.sell__title{
    width: 220px;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin: 62px 0 0 0;
    padding: 0 0 64px 0;
}

@media screen and (min-width: 768px){
    .sell__title{
        width: 320px;
        
    }
}

@media screen and (min-width: 1248px){
    .sell__title{
        width: 450px;
        font-size: 35px;
        line-height: 60px;
        padding: 0 0 130px 0;
    }
}