.menu__text{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
    width: 160px;
}

@media screen and (min-width: 1248px){
    .menu__text{
        font-size: 30px;
        line-height: 40px;
    }
}

