.header-form__number-input{
    width: 200px;
    height: 25px;
    background: transparent;
    border:none;
    padding-bottom: 0;

 }
 
 ::placeholder {
     font-family: 'Montserrat','Arial', sans-serif;
     margin: 0 auto;
     font-size: 25px;
     font-weight: 500;
     line-height: 25px;
     color:#DCDCDC ;
 
    
   }